doctype html
html
  head
    title= title
    style
      include stil.css

#header
  h3 To je nas header
  lu
    li
      a(href='/novice') Novice

    li
      a(href='/uporabnik') Uporabnik

    li
      a(href='/tutorial') Tutorial

    li
      a(href='/Ostalo') Ostalo

    li
      a(href='/') Index


body
  block content

