body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#uporabnik {
  background-color: red;
  color: blue;
}

#header{
  background-color: aquamarine;
  padding: 5em;
}

#ostalo{
  background-color: beige;
}
